{% extends "pages/base.html" %}

{% block title %}KWIZZ{% endblock %}

{% block content %}
<h1></h1>
<div class="col-sm-12">
    <div class="bs-sliderbar" style="background-color:lightcyan;">
       <ul class="nav flex-column">
        <center><h1>What color does she like?</h1></center>
        <h>A. Red</h>
        <h>B. Yellow</h>
        <h>C. Blue</h>
        <li><a href="/next">Next</a></li> 
           <!-- <li><a href="/kwizz">Information</a></li> -->
           <!-- <li><a href="/quiz">Quiz</a></li> -->
           <!-- <li><a href="/contact">Contact</a></li> -->
       </ul>
    </div>
</div>
{% endblock %}